$highlight-color: #955bfb;

.pro-sidebar {
  display: inline-block;
  max-width: 270px;
  height: 100vh;
  border-right: 1px solid #955bfb;
}

@import '~react-pro-sidebar/dist/scss/styles.scss';
@import '~react-typist/dist/Typist.css';

.avatar {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


.brain {
  width: 14px;
}

button {
  position: absolute;
  margin-left: 70%;
  margin-top: 20px;
  border: none;
  background-color: rgba(255, 0, 0, 0);
  z-index: 1;
}

.button-light {
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(156deg) brightness(112%) contrast(101%);
}

.button-dark:hover, .button-light:hover {
  filter: invert(36%) sepia(47%) saturate(1835%) hue-rotate(235deg) brightness(104%) contrast(97%);
}

:root {
  --bg-color: #ddd;
  --text-color: #181818;
  transition: all 1s;
}

[data-theme="Dark"] {
  --bg-color: #181818;
  --text-color: #ddd;
  transition: all 1s;

}

[data-theme="Light"] {
  --bg-color: #ddd;
  --text-color: #181818;
  transition: all 1s;
}

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  // border: 1px solid #955bfb;
  font-family: monospace;
  font-size: 20px;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  margin-top: 110px;
  margin-left: 80px;
  margin-right: 80px;
}

.div-avatar {
  text-align: center;
}

.div-avatar > a {
  display: block;
}

.heart {
  width: 12px;
  filter: invert(15%) sepia(89%) saturate(6564%) hue-rotate(359deg) brightness(111%) contrast(118%);
}

.nav { 
  display: inline-block;
  height: 100vh !important;
}

.menu-item-color {
  width: 20px;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(242deg) brightness(105%) contrast(100%);
}

h1 {
  display: inline-block;
}

.contact-buttons {
  border-radius: 5px;
}
